p {
    font-family: Verdana;
    font-size: 20px;
    color:rgb(237, 205, 205)
}

h1 {
    font-family: Verdana;
    font-size: 40px;
}

* {
    box-sizing: border-box;
  }
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
        }
          
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #00f7ff9e;
}
          
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 15%;
    text-decoration: none;
}
          
          /* Change color on hover */
.topnav a:hover {
    background-color: #00f7ff9e;
    color: black;
}




